* {
    background: #f4f4f4be;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo {
    margin-left: 10px;
    padding-top: 10px;
    width:2%;
    position: fixed;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

#text-area {
    background: white;
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0d0a71;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
       
}

::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;    
      
    }

#mensagem {
    background: white;
    background-image: url("/cadeado.webp");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #ffffff;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: absolute;
}
#mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

#btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0b1b5b;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

#btn-encriptar {
    background-color: #370f67;
    border: 1px solid #5d18ac;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

#btn-copiar {
    background-color: #8867b1;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #ffffff;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 360px;
    position: absolute;
    width: 336px;

}

.informacao {
    color: #3a0e65;
    font-size:18px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap:32px;
}

